* {
	box-sizing: border-box;
	margin: 0;
	padding: 5px;
	color: white;
	/*border: 1px solid white;*/
}

body {
	background-color: black;
}

canvas {
	background-color: #555555;
}


#points-txt {
	position: absolute;
	z-index: 3;
	top: 40px;
	left: 40px;
}


